

@font-face {
    font-family: 'FK';
    src: url('/fonts/FKRasterGrotesk-Blended.woff') format('woff')
}
@font-face {
    font-family: 'FK-sharp';
    src: url('/fonts/FKRasterGrotesk-Sharp.woff') format('woff')
}



// @font-face {
//     font-family: 'semi';
//     src: url('/fonts/Antique-Legacy-Semibold.woff2') format('woff2')
// }